.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.recovery_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}