.header{
    display: flex;
    justify-content: space-evenly;
    background-color: #56CBF9;
}
.header a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.header a:hover{
 background-color: #315197;
 transition: 1s;
}